.window {
	-fx-background-color: #E7E7E7;
	-fx-border-width: 1px;
	-fx-border-color: #c8c8c8;
}

.window .exit {
	-fx-background-color: transparent;
	-fx-font-size: 14px;
	-fx-text-fill: #222222;
	-fx-background-radius: 0 !important;
}

.window .exit:pressed {
	-fx-text-fill: black;
}

.window .exit:hover {
	-fx-text-fill: white;
	-fx-background-color: red;
}

.window .exit, .window .title { 
	-fx-text-fill: #222222;
}

.window .chart {
	-fx-background-color: white;
}

.window .title {
	-fx-font-size: 15px;
	-fx-font-weight: bold;	
}

.window .options {
	-fx-background-color: white;
}